@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");

html {
  scroll-behavior: smooth;
}

.outer-body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-body-container .container {
  width: 70%;
  max-width: 1000px;
}

@media screen and (max-width: 700px) {
  .outer-body-container .container {
    width: 85%;
  }
}

.top {
  /*
    margin-left: 15%;
    margin-right: 15%;*/
  margin-top: 10%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#nav {
  font-family: "Avenir", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  color: #464646;
  margin-bottom: 50px;
  float: right;
  padding-top: 40px;
}

#logo {
  float: left;
  font-family: "Avenir", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #464646;
}

@media screen and (max-width: 400px) {
  #logo {
    display: none;
  }
}

#nav-container {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 12%;
  /*
  position: sticky;
  top: 0;
  right: 0;
  z-index: 200;
  background-color: white;
  */
}

@media screen and (max-width: 700px) {
  #nav-container {
    width: 85%;
  }
}

#main {
  width: 65%;
  margin-top: 60px;
}

#header {
  font-family: "Avenir", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #464646;
}

#definition {
  font-family: "Avenir", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  white-space: nowrap;
}

.highlight {
  display: inline-block;
  position: relative;
}

.highlight::before {
  content: " ";
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 55%;
  bottom: 5px;
  left: 5px;

  background: linear-gradient(to top, #fae46f 100%, transparent 0%);
}

.highlight.swipe-up::before {
  transition: 250ms height;
  height: 9%;
}

.highlight.swipe-up:hover::before,
.highlight-parent:hover .highlight.swipe-up::before {
  height: 55%;
}

.highlight.swipe-right::before {
  transition: 250ms width;
  width: 0;
}

.highlight.swipe-right:hover::before,
.highlight-parent:hover .highlight.swipe-right::before {
  width: 100%;
}

.bodycopy {
  font-family: "proxima-nova", Helvetica, sans-serif;
  font-weight: 10;
  font-style: normal;
  font-size: 17px;
  line-height: 35px;
  color: #464646;
}

a:link {
  color: #464646;
  text-decoration: none;
}

a:visited {
  color: #464646;
  text-decoration: none;
}

.rotate {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: sticky;
  overflow: hidden;

  /*transform: rotate(90deg);

    transform-origin: right;
    margin-left: 60%;
    margin-top: 
    width: 29%;*/
}

@media screen and (max-width: 600px) {
  .rotate img {
    display: none;
  }
}

.connect {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 225%;
  color: #afdfe4;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .connect {
    display: none;
  }
}

/* PROJECT SECTION */

.projects {
  margin: 150px auto 0;
  padding-top: 20px;
  max-width: 1000px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: fit-content(100%);
  grid-column-gap: 2em;
  grid-row-gap: 3.2em;
}

@media screen and (max-width: 1080px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 700px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.project {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project .image {
  max-width: 100%;
  /*
  transition: 250ms filter;
  filter: grayscale(60%); */
}
.project a:hover .image {
  filter: none;
}

.project .contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project .contents h3.title {
  font-family: "proxima-nova", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: #464646;

  margin-bottom: 0.2em;
}

.project a:hover .image {
  filter: none;
}

.project .contents p.desc {
  font-family: "proxima-nova", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #464646;

  margin-top: 0;
}

.project .contents .tag-container .tag {
  font-family: "proxima-nova", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  color: #6d6d6d;
}

/* END */

.end {
  align-content: center;
}

@media screen and (max-width: 600px) {
  .end-container {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  #nav {
    padding: 25px 0 5px 0;
  }
}

#nav li {
  display: inline;
  padding: 50px;
  padding-right: 0px;
}

#nav li a {
  text-decoration: none;
  color: #464646;
}

#case-container {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 950px) {
  #case-container {
    width: 90%;
  }
}

#hero-container {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 950px) {
  #hero-container {
    width: 90%;
  }
}

h1 {
  font-family: "Avenir", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  color: #464646;
}

h2 {
  font-family: "Avenir", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  margin-top: 0.4em;
  margin-bottom: 0;

  color: #464646;
}

h3 {
  font-family: "Avenir", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 0;

  color: #c5a44f;
}

h4 {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;

  color: #464646;
}

h5 {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;

  color: #808182;
}

p {
  font-family: "proxima-nova", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7em;
  color: #464646;
}

.caption {
  font-family: "proxima-nova", Helvetica, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  width: 90%;

  text-align: center;
  margin: 5px auto;

  color: #6d6d6d;
}

li {
  font-family: "proxima-nova", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7em;
  color: #464646;
}

.center {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.callout {
  background-color: #f7f7f7;
  padding: 24px;
  font-size: 20px;
  border-radius: 3px;
  line-height: 1.4em;
  border-left: 4px solid #fae46f;
}

.center-img {
  position: relative; /* where the next element will be automatically positioned */
  display: block; /* causes element width to shrink to fit content */
  margin-left: 50%; /* moves left side of image/element to center of parent element */
  transform: translate(-50%);
  width: 130%;
}

@media screen and (max-width: 950px) {
  .center-img {
    width: 100%;
  }
}
